{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", ">1%"]
        }
      }
    ]
  ],
  "plugins": [["babel-plugin-inferno", { "imports": true }], "transform-class-properties"]
}
